:root {
    --bg-black-50: #eff0f4;
    --inner-shadow: inset 3px 3px 3px #d0d0dd, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

body.light {
    background-color: var(--bg-black-50);
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border-radius: 50%;
}

.clock::after {
    border-radius: 50%;
}

body.light .clock {
    background: url(clock.png);
    background-size: cover;
}

.outer-shadow {
    box-shadow: var(--inner-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

body.light .clock::before {
    background: #008eff;

}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;

}

.clock .min, .mn {
    width: 190px;
    height: 190px;
    
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
    
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: crimson;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

body.light .mn::before {
    background: #091921;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #008eff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #2b2c2f;
    color: #d1dae3;
    font-family: consolas;
    cursor: pointer;
}

.toggle::before {
    position: absolute;
    content: "Light Mode";
    left: 25px;
    white-space: nowrap;
}

.toggleClass {
    position: absolute;
    top: 10%;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: consolas;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggleClass::before {
    position: absolute;
    left: 25%;
    content: 'Light Mode';
    white-space: nowrap;

}

body.light .toggleClass {
    background: #353535;
    color: #091921;
}

body.light .toggleClass::before {
    content: 'Dark Mode';
    white-space: nowrap;
}


